* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	text-align: center;
	background-color: #011f3f;
}

#level-title {
	font-family: "Press Start 2P", cursive;
	font-size: 3rem;
	margin: 3%;
	color: #fef2bf;
	/* display: none; */
}

.display-none {
	display: none;
}
#start {
	/* border: solid red 1px; */
	font-family: "Press Start 2P", cursive;
	color: #fef2bf;
	font-size: 2rem;
	background-color: green;
	padding: 1rem;
	border-radius: 10px;
	margin: 2rem;
	/* display: inline; */
}
#start:hover {
	cursor: pointer;
}
.info {
	display: flex;
	align-items: center;
	justify-content: center;
}

#message,
#timer {
	font-family: "Press Start 2P", cursive;
	color: #fef2bf;
	font-size: 1.5rem;
	/* visibility: visible; */
}

#timer {
	margin-left: 50px;
	color: red;
}

.invisible {
	visibility: hidden;
}

.container {
	/* border: solid red 1px; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 40%;
	margin: 1rem auto;
}

.btn {
	margin: 1.5rem;
	/* display: inline-block; */
	height: 11rem;
	width: 11rem;
	border: 10px solid black;
	border-radius: 20%;
}

.game-over {
	background-color: red;
	opacity: 0.8;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}

@media screen and (max-width: 1200px) {
	#level-title {
		margin: 2rem;
	}
	.container {
		width: 50%;
	}
}
@media screen and (max-width: 900px) {
	.container {
		width: 70%;
	}
	.btn {
		margin: 1rem;
		width: 11rem;
		height: 11rem;
		border: 8px solid black;
	}
}

@media screen and (max-width: 620px) {
	#start {
		font-size: 1.5rem;
	}
	.container {
		width: 100%;
	}
	/* 	.btn {
		margin: 1rem;
		width: 11rem;
		height: 11rem;
		border: 10px solid black;
	} */
}
@media screen and (max-width: 450px) {
	#level-title,
	.info {
		font-size: 1.2rem;
	}
	#start {
		font-size: 1.2rem;
	}
	.container {
		width: 80%;
		margin: 3rem auto;
	}
	.btn {
		margin: 0.5rem;
		width: 7rem;
		height: 7rem;
		border: 5px solid black;
	}
}
@media screen and (max-width: 320px) {
	.btn {
		width: 5rem;
		height: 5rem;
	}
}
